%general {
    border: 5px solid black;
    width:550px;
    height:270px;
    margin-left:10px;
    margin-right:10px;
    
}

.img_left {
    @extend %general;
    float:left;
    
}

.img_right {
    @extend %general;
    float:right;
}

body{
    font-family: "Times New Roman", Times, serif;
    margin-left:10px;
    margin-right:10px;
    background-color:#ebeced;
}


